@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
.appbar {
  display: flex;
  min-height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: #fff;
  }
  .nav-items {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.home-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1200");
  .book-list {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    .books {
      display: flex;
      width: 80%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .book-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        min-height: 300px;
        width: 280px;
        border-radius: 20px;
        //
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);

        backdrop-filter: blur(10px);
        & h1 {
          font-size: 20px;
          font-weight: 500;
        }
        & p {
          font-size: 15px;
          font-weight: 500;
        }
        .id-copyclip {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px;
          border-radius: 5px;
          border: 2px solid rgba(0, 0, 0, 0.3);
          & svg {
            cursor: copy;
            color: rgba(0, 0, 0, 0.3);
            margin: 0px 5px 0px 15px;
          }
        }
      }
    }
  }
}
.create-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  .center-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
    width: 100%;
    & form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      min-height: 30vh;
    }
  }
}
